# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy & type checkers
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff / Linters
.ruff_cache/

# IDEs & Editors
.vscode/
.cursorignore
.cursorindexingignore
.claude/

# OS specific
.DS_Store
.AppleDouble
.LSOverride

# Project specific
data/large_vocab.txt
data/words_alpha.txt
data/*.zip
# data/*.csv
